table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-right: 50px; /* Adicione margem direita para separar dos dados */
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor das linhas pares (branca) */
}

tr:nth-child(odd) {
    background-color: #000; /* Cor das linhas ímpares (preta) */
    color: #fff; /* Cor do texto nas linhas ímpares (branca) */
}

th:nth-child(even) {
    background-color: #ff0000; /* Cor das linhas pares (branca) */
}

th:nth-child(odd) {
    background-color: #ff0000; /* Cor das linhas pares (branca) */
}

.logo-container {
    position: fixed; /* Torna a div fixa na tela */
    top: 20px; /* Coloca a div 20 pixels abaixo do topo da tela */
    right: 50px; /* Coloca a div 20 pixels da margem direita da tela */
    padding: 10px; /* Adiciona um pouco de espaço ao redor da logo */
}

.logo {
    width: 100px; /* Largura desejada para a logo */
    height: auto; /* Mantém a proporção original da imagem */
    display: block;
    margin: 0 auto; /* Centraliza a logo horizontalmente na div */
}
